body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

h1 {
    font-family: helvetica, sans-serif;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 10px;
}

h2 {
    font-size: 24px;
    text-align: center;
    color: #474747;
}


#code {
    animation: slideInRight 2.5s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px 50px 0 0;
}

.containerdatos {
    background-color: #f0f0f0;
    width: 300px;
    height: 190px;
    padding: 10px;
    border-radius: 15px;
    color: #333;
    text-align: start;
    font-size: 18px;
    transition: background-color 0.5s ease;
}

.containerdatos:hover {
    background-color: #e0e0e0;
}

.animated-heading {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 10s;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    #code {
        display: none;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .animated-heading {
        animation: typing 6s;
    }
}